.Home {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  font-size: 2vw;
}
.Home header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid black;
}
.Home footer{
  margin-top: 50px;
  border-top: 3px solid black;
}
.Home footer div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* TABLETS */
@media screen and (min-width: 481px) and (max-width: 1023px){
  .Home{
    width: 80%;
  }
}

/* DESKTOPS */
@media screen and (min-width: 1024px){
  .Home{
    width: 50%;
  }
}
