.Home {
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
}
.Home .body {
  padding-top: 25px;
  /* height: 50vh; */
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; */
}
.Home header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid black;
}
.Home footer{
  margin-top: 50px;
  border-top: 3px solid black;
}
.Home footer div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bx-code, .bx-code-alt{
  font-size: 200px;
  color: rgba(0,0,0,0.02);
  position: fixed;
  z-index: -1;
}
.bx-code{
  top: 0;
  left: 0;
}
.bx-code-alt{
  right: 0;
  bottom: 0;
}
