.Home {
  width: 100%;
  /* height: 100vh; */
  margin: 0 auto;
  padding: 0 10px;
  font-size: 100px;
}
.Home .body {
  /* height: 50vh; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.Home header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid black;
}
.Home footer{
  margin-top: 50px;
  border-top: 3px solid black;
}
.Home footer div{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* TABLETS */
@media screen and (min-width: 481px) and (max-width: 1023px){
  .Home{
    width: 80%;
    font-size: 2vw;
  }
}

/* DESKTOPS */
@media screen and (min-width: 1024px){
  .Home{
    width: 50%;
    font-size: 1vw;
  }
}

img{
  position: relative;
  top: -15px;
  border: 1px solid grey;
  box-shadow: 8px 15px 0 rgba(0,0,0,0.1);
}
