.Bar{
  display: flex;
}
.Bar input{
  font-family: 'Share Tech Mono', monospace;
  height: 30px;
  width: 250px;
  font-size: 20px;
  padding: 0 5px;
  border: 3px solid black;
}
.Bar input:focus{
  outline: none;
}
.H{
  display: flex;
  align-items: center;
}
.H .bxl-react, .H .bxl-nodejs{
  transition: all ease 0.5s;
  cursor: pointer;
}
.H .bxl-react:hover{
  color: #61DBFB;
}
.H .bxl-nodejs:hover{
  color: #037F04;
}
